#showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('') no-repeat center center / cover;
  height: 100vh;
  text-align: center;

  .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
  }

  .secondary-btn {
    width: 60%;
    margin: auto;
  }
}